@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@theme {
    --primary: #2D5A27;
    --secondary: #E1AD01;
    --tertiary: #3E2723;
    --tertiary-light: #5D4037;
    --offbg: #f3f4f6;
}

*{
    transition: all .3s ease-in-out;
}

body {
    font-family: "Newsreader", serif;
}

nav, #logo, #footer {
    font-family: "Google Sans Flex", sans-serif;
}
